@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #F1D8C9, #F2C3A7);
}

main {
    background-color: white;
    border-radius: 10px; /*arredonda as bordas*/
    box-shadow: 5px 5px 15px #705a4d80; /*cria sombra: lateal, inferior, espalhamento e cor (em monocromia e transparência) */
    width: 600px; /*delimita o tamanho da caixa criada pelo background-color*/
    padding: 10px; /*cria uma barra de folga entre o texto e o background-color*/
    margin: auto; /*posiciona o background-color na tela. O auto posiciona-o no centro */
}

h1 {
    color: #f39209;
    text-align: center;
    text-shadow: 1px 1px 2px #7e4b04be;
}

h2 {
    color: #125189;
}

p {
    text-align: justify;
}